<div class="message-section">
    <form asp-controller="SendMessage" asp-action="SendMessage" method="post">
        <div class="mb-3">
            <label class="form-label">Ad Soyad</label>
            <input type="text" class="form-control" name="Name" placeholder="Adınız Soyadınız..." required>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="Email" placeholder="E-mail adresiniz..." required>
        </div>
        <div class="mb-3">
            <label class="form-label">Konu</label>
            <input type="text" class="form-control" name="Subject" placeholder="Konu..." required>
        </div>
        <div class="mb-3">
            <label class="form-label">Mesaj</label>
            <textarea class="form-control" name="MessageContent" rows="4" placeholder="Mesajınızı buraya yazabilirsiniz..." required></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2">Gönder</button>
    </form>
</div>