@model List<ResultVideoDto>

<div class="video-section py-5 bg-white">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="section-heading">
                    <h6>| Tanıtım Videomuz</h6>
                    <h2>Villalarımızı Daha Yakından Görün</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-8">
                    <div class="ratio ratio-16x9 rounded shadow">
                        <iframe src="@item.VideoUrl" title="Villa Tanıtım Videosu" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            }
        </div>
    </div>
</div>